<h1>Posts</h1>

<% @blogs.each do |blog| %>
<div class="post">
    <h2><%= link_to blog.title, blog%></h2>
    <p class="date"><%= blog.created_at.strftime("%B, %d, %Y") %></p>
    <p class="post-body"></p>
</div>
<% end %> 