<div class="blog-post">
<h1 class="title">
    <%= @blog.title %>
</h1>

<p class="date">Artfully crafted <%= time_ago_in_words(@blog.created_at) %> ago</p>

<p class="body">
    <%= @blog.body %>
</p>
</div>