<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="assets/stylesheets/pages.scss">
    
</head>
<body>
  <div class="about">

    
        <br><br><br><br><br><br>
     <h1 class="jumbotron-title">About Joshua</h1>
     <br><br><br><br><br>
    <p class="about-body-text">Lorem ipsum dolor sit amet, eu sit enim debitis accusata, 
    ei nec dico errem dictas. In pro tollit assentior. 
    Brunch leggings salvia, cred bicycle rights craft beer sartorial. Taxidermy occupy Godard synth scenester DIY selfies, roof party food truck umami XOXO 
    wolf wayfarers Etsy trust fund. Squid whatever gentrify, 
    swag bicycle rights listicle leggings hoodie 90's disrupt cardigan Truffaut Austin direct trade. Cornhole art party vinyl cold-pressed tote bag. Odd Future freegan Echo Park kale chips artisan, umami Etsy 
    fixie cliche listicle Thundercats. Semiotics scenester locavore irony stumptown, brunch mlkshk Carles chambray butcher mustache freegan tilde taxidermy Thundercats. Synth selvage hella chia banjo tofu sriracha, 
    food truck banh mi 90's Truffaut whatever meditation pop-up.</p>
    <p class="about-body-text">
    Vinyl literally Carles umami banh mi church-key, meh PBR wayfarers narwhal Truffaut before they sold out vegan YOLO. 
    Paleo cred tote bag American Apparel, YOLO mumblecore ennui DIY pop-up kale chips banh mi. Odd Future art party +1, 
    whatever pour-over messenger bag cliche. Meh church-key crucifix 8-bit, organic tofu retro butcher yr jean shorts 
    mustache try-hard. Chambray fanny pack cold-pressed fashion axe, wolf wayfarers letterpress occupy paleo cray quinoa 
    seitan DIY meh. Single-origin coffee sartorial skateboard fanny pack fingerstache church-key. Roof party artisan plaid, lumbersexual 
    Brooklyn mixtape shabby chic fap vinyl kitsch irony sustainable Neutra.</p>
    <p class="about-body-text">
    Raw denim skateboard put a bird on it distillery tousled. Tote bag Brooklyn fixie, semiotics health goth aesthetic 
    skateboard. Vinyl paleo locavore Wes Anderson. Fixie twee pork belly, beard food truck Pitchfork blog biodiesel. 
    Letterpress seitan ethical Blue Bottle, sriracha forage hella gentrify PBR cliche. Paleo Echo Park pork belly 
    wayfarers, 3 wolf moon taxidermy polaroid slow-carb post-ironic Schlitz roof party High Life swag. Synth skateboard 
    Odd Future before they sold out, pickled chia biodiesel pour-over tattooed fixie.</p>
</div> <!-- END ABOUT PAGE BODY DIV -->  
</body>
</html>