<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="assets/stylesheets/pages.scss">
    
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to 'Kubi', root_path, class: 'navbar-brand' %>
        </div>
    
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="main-nav-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "About", about_path %></li>
            <li><a href="#">Portfolio</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <div>
        <br><br><br><br><br><br><br><br><br>
     <h1 class="about-header-text">About Joshua</h1>
     <br><br><br><br><br>
    <div class="about-paragraph"> <p class="about-body-text">Lorem ipsum dolor sit amet, eu sit enim debitis accusata, ei nec dico errem dictas. In pro tollit assentior. 
     Quis voluptatum pri ex. Pri modus sapientem an. Te mel sale qualisque, ad dicant option mediocritatem ius.
Dolor dolores suscipit est in. Sensibus salutatus te qui, eum at aliquip maiorum.<br> 
Ad doctus adversarium theophrastus has, te nibh sanctus fabulas sed, eu essent scriptorem per. Id mea quodsi deserunt maluisset, movet principes cu mei, at duis quando persequeris pro.
Legere blandit pri ne, est ea nihil bonorum maiestatis, mea ex meis soleat. 
Sale mediocrem est ad, wisi quodsi at his. Ius ut harum placerat, inimicus principes rationibus quo ei.<br> 
Denique euripidis et his, in usu augue vitae. Exerci soleat iuvaret sea an, qui dolorum propriae at. Cum ex libris intellegat.
Ad est amet dolores phaedrum, sea et prompta explicari. An ferri atqui iracundia est, eligendi sapientem sententiae eum eu. 
Error molestie tacimates nam at, eos ex perfecto phaedrum evertitur. Aeque laoreet te pri, bonorum voluptatum no per. Mel id debitis nusquam, primis eloquentiam duo an. Solum summo appellantur sit ut, ornatus copiosae cum ea.
Perfecto perpetua ea sit. Autem instructior te mel, vix in consequat democritum. <br>
Ex fabulas adversarium vis, id sea labores platonem disputando. Qui saepe inciderint an, antiopam similique forensibus vim ut, vis quod salutandi no. Quo inani nobis cu, malis doming te vim. Ex duo aliquid invenire maluisset, te elitr periculis prodesset sea, ex quodsi apeirian pericula qui.</p>
    </div><!--END about-paragraph -->
    </div>
</body>
</html>