/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 */
 
@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Pacifico);

@font-face{
    font-family: LeagueGothic;
    src: url('leaguegothic-regular-webfont');
}

@font-face{
    font-family: QuickSand;
    src: url('Quicksand-Regular');
}

/* NORMAL NAVBAR */

.navbar-default {
  background: transparent;
  border: none;
}

.navbar-nav li {
  color: #252525;
}

/*DRAWER NAVBAR*/

a.nav-expander {
  background: none repeat scroll 0 0 #000000;
  color: #FFFFFF;
  display: block;
  font-size: 15px;
  font-weight: 400;
  height: 50px;
  margin-right: 0;
  padding: 1em 1.6em 2em;
  position: absolute;
  right: 0;
  text-decoration: none;
  text-transform: uppercase;
  top: 0;
  transition: right 0.3s ease-in-out 0s;
  width: 130px;
  z-index: 12;

  transition: right 0.3s ease-in-out 0s;
  -webkit-transition: right 0.3s ease-in-out 0s;
  -moz-transition: right 0.3s ease-in-out 0s;
  -o-transition: right 0.3s ease-in-out 0s;

}

a.nav-expander:hover {
  cursor: pointer;
}

a.nav-expander.fixed {
  position: fixed;
}

.nav-expanded a.nav-expander.fixed {
    right: 20em;
}

.nav-drawer {
  background: #2d2f33;
  display: block;
  height: 100%;
  overflow: auto;
  position: fixed;
  right: -20em;
  font-size: 15px;
  top: 0;
  width: 20em;
  z-index: 2000;
  
  transition: right 0.3s ease-in-out 0s;
  -webkit-transition: right 0.3s ease-in-out 0s;
  -moz-transition: right 0.3s ease-in-out 0s;
  -o-transition: right 0.3s ease-in-out 0s;

}
.nav-expanded nav {
  right: 0;
}

body.nav-expanded {
  margin-left: 0em;
  transition: right 0.4s ease-in-out 0s;
  -webkit-transition: right 0.4s ease-in-out 0s;
  -moz-transition: right 0.4s ease-in-out 0s;
  -o-transition: right 0.4s ease-in-out 0s;
}

#nav-close {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 300;
  font-size: 24px;
  padding-right: 10px;
}

.main-menu {
  padding-top: 12px;
}

.main-menu li {
  border-bottom: 1px solid #323949;
  margin-left: 20px;
  font-size: 18px;
  padding: 12px;
}

.main-menu li a {
  color: #6F7D8C;
  text-decoration: none;
}

.main-menu li a:hover {
  color: #FFFFFF;
  text-decoration: none;
}

.main-menu li .sub-nav {
  border-bottom: 0px;
  padding: 4px;
}

.main-menu a .caret {
	width: 0;
	height: 0;
	display: inline-block;
	vertical-align: top;
	border-top: 4px solid #4f5963;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	content: "";
    margin-top: 8px;
}

.main-menu a:hover .caret {
	border-top-color: #4f5963;
}

.main-menu li.open > a > .caret {
	border-top: none;
	border-bottom: 4px solid #4f5963;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}

.main-menu li.open > a:hover > .caret {
	border-bottom-color: #4f5963;
}

.icon:before {
  font-family: 'FontAwesome';
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-transform: none;
  content: '\f105';
}

.main-menu li > a > span.icon {
  float: right;
  margin: 0.1em 1.7em -0.1em 0;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;

}

.main-menu li > a:hover > span.icon {
  float: right;
  margin: 0.1em 0.8em -0.1em 0;
  opacity: 1;
}



/*HOME PAGE VIDEO HEADER*/
.header-container{
    background-size:cover;
    min-height:900px;
    width:100%;
    height:100%;
    border-left:none;
    border-right:none;
    position:fixed;
    padding:0px;
    background-color: #6FA1A2;
}

.video-container{
    position:absolute;
    top:0%;
    left:0%;
    bottom:0%;
    height:120%;
    width:100%;
    overflow:hidden;
    min-height:900px;
}

video{
    position:absolute;
    z-index:-1;
    opacity:0.78;
    width:100%;
    
}

.header-container h3{
    z-index:1;
    font-family:"Times New Roman";
    color:#ffffff;
    margin-top:20%;
    text-align:center;
}

/*ABOUT PAGE*/
body .about{
    background-image: url('http://res.cloudinary.com/lptbt4ovx/image/upload/v1446236320/video_camera-compressor_pbmbyi.jpg');
    background-position:relative;
    background-size:cover;
    min-height:100%;
    background-attachment:fixed;
}

.about-header-text{
    color: #ffffff;
    text-align:center;
    font-family: 'Pacifico', cursive;
    size:large;
}

.about-body-text{
    color: #ffffff;
    text-align: justify;
    margin: 0 auto;
    width: 25em;
}

/*BLOG INDEX PAGE*/

body .blog{
    background-color: #ffffff;
    background-attachment:fixed;
    background-position:relative;
}

.blog-jumbotron{
    background-image: url(http://res.cloudinary.com/lptbt4ovx/image/upload/v1446527458/CloudCity-compressor_har8mw.jpg);
    min-height: 700px;
    
   
}

.portfolio-jumbotron{
    background-image: url(http://res.cloudinary.com/lptbt4ovx/image/upload/v1446323215/cool-stars-compressor_oktjku.jpg);
    min-height: 550px;
    
}

.jumbotron h1{
    color: #ffffff;
    font-family: 'LeagueGothic';
    font-size: 100px;
}

.jumbotron h4{
  font-family: 'QuickSand';
  color: #FF9233;
}

.jumbotron p{
    color: #ffffff;
}

.thumnbnail {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    border: none;
}

.caption {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.caption p {
  font-size: 15px;
  margin: 0px;
}

.caption h2 {
  font-size: 17px;
  margin: 2px;
}