/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 */
 
@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Quicksand:400,700);
@import url(https://fonts.googleapis.com/css?family=EB+Garamond);

/*DRAWER NAVBAR*/
$color-background: #F5F5F5;
$color-main: #181818;
$color-active: #FFF;
$color-link: #FFF;

$button-height: 27px;
$button-width: 35px;

body{
  background: #252525;
}

.button_container {
  position: fixed;
  top: 5%;
  right: 2%;
  height: $button-height;
  width: $button-width;
  cursor: pointer;
  z-index: 100;
  transition: opacity .25s ease;
  
  &:hover {
    opacity: .7;
  }
  
  &.active {
    .top {
      transform: translateY(11px) translateX(0) rotate(45deg);
      background: $color-active;
    }
    .middle {
      opacity: 0;
      background: $color-active;
    }
    
    .bottom {
      transform: translateY(-11px) translateX(0) rotate(-45deg);
      background: $color-active;
    }
  }
  
  span {
  background: $color-main;
  border: none;
  height: 5px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition:  all .35s ease;
  cursor: pointer;
    
    &:nth-of-type(2) {
      top: 11px;
    }
    
    &:nth-of-type(3) {
      top: 22px;
    }
  }
}

.overlay {
  position: fixed;
  background: $color-main;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;
  
  &.open {
    opacity: .9;
    visibility: visible;
    height: 100%;
    
    li {
      animation: fadeInRight .5s ease forwards;
      animation-delay: .35s;
      
      &:nth-of-type(2) {
        animation-delay: .4s;
      }
      &:nth-of-type(3) {
        animation-delay: .45s;
      }
      &:nth-of-type(4) {
        animation-delay: .50s;
      }
    }
  }
  nav {
    position: relative;
    height: 70%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
    font-family: 'Vollkorn', serif;
    font-weight: 400;
    text-align: center;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%; 
    
    li {
      display: block;
      height: 25%;
      height: calc(100% / 4);
      min-height: 50px;
      position: relative;
      opacity: 0;
      
      a {
        display: block;
        position: relative;
        color: $color-link;
        text-decoration: none;
        overflow: hidden;
        
        &:hover:after,
         &:focus:after,
         &:active:after {
           width: 100%;
         }
        
        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 0%;
          transform: translateX(-50%);
          height: 3px;
          background: $color-link;
          transition: .35s;
        }
      }
    }
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

.quicksand{
  font-family: 'Quicksand', sans-serif;
}

/*HOME PAGE VIDEO HEADER*/
.header-container{
    background-size:cover;
    min-height:900px;
    width:100%;
    height:100%;
    border-left:none;
    border-right:none;
    position:fixed;
    padding:0px;
    background-color: #FFF;
}


/*.video-container{
    position:absolute;
    top:0%;
    left:0%;
    bottom:0%;
    height:120%;
    width:100%;
    overflow:hidden;
    min-height:900px;
}

video{
    position:absolute;
    z-index:-1;
    opacity:0.78;
    width:100%;
    
}*/

.header-container h3{
    z-index:1;
    font-family:"Times New Roman";
    color:#6FA1A2;
    margin-top:20%;
    text-align:center;
}

/*ABOUT PAGE*/
body .about{
    background-image: url('http://res.cloudinary.com/lptbt4ovx/image/upload/v1446236320/video_camera-compressor_pbmbyi.jpg');
    background-position: relative;
    background-size: cover;
    min-height: 100%;
    background-attachment: fixed;
    overflow: hidden;
    -webkit-filter: grayscale(75%); /* Chrome, Safari, Opera */
    filter: grayscale(75%);
}

.about-header-text{
    color: #ffffff;
    text-align:center;
    font-family: 'Pacifico', cursive;
    size:large;
    -webkit-filter: grayscale(0%); /* Chrome, Safari, Opera */
    filter: grayscale(0%);
}

.about-body-text{
    color: #ffffff;
    text-align: justify;
    margin: 0 auto;
    width: 25em;
}

/*BLOG INDEX PAGE*/

body .blog{
    background-color: #ffffff;
    background-attachment:fixed;
    background-position:relative;
}

.blog-jumbotron{
    background-image: url(http://res.cloudinary.com/lptbt4ovx/image/upload/v1446527458/CloudCity-compressor_har8mw.jpg);
    min-height: 700px;
    
   
}

.portfolio-jumbotron{
    background-image: url(http://res.cloudinary.com/lptbt4ovx/image/upload/v1446323215/cool-stars-compressor_oktjku.jpg);
    min-height: 550px;
    
}

.jumbotron-title{
    color: #ffffff;
    font-family: 'QuickSand', sans-serif;
    font-weight: 400;
    font-size: 80px;
    text-align: center;
    letter-spacing: -3px;
}

.jumbotron h4{
  font-family: 'QuickSand';
  color: #FF9233;
}

.jumbotron p{
    color: #ffffff;
}

.thumnbnail {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    border: none;
}

.caption {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.caption p {
  font-size: 15px;
  margin: 0px;
}

.caption h2 {
  font-size: 17px;
  margin: 2px;
}

.submit-btn{
  border: none;
  background-color: #252525;
  text-color: #FF9233;
  height: 5em;
}

.contact-body{
  background-color: #868686;
}

.comments-area{
  height: 40em;

}

.form-control{
  border: 0px, 0px, 10px, 0px;
  background-color: #868686;
}