/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 */
 
@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Pacifico);

/*NAVBAR*/
.navbar{
    background:transparent;
    border:none;
}

/*HOME PAGE VIDEO HEADER*/
.header-container{
    background-size:cover;
    min-height:900px;
    width:100%;
    height:100%;
    border-left:none;
    border-right:none;
    position:fixed;
    padding:0px;
    background-color: #6FA1A2;
}

.video-container{
    position:absolute;
    top:0%;
    left:0%;
    bottom:0%;
    height:120%;
    width:100%;
    overflow:hidden;
    min-height:900px;
}

video{
    position:absolute;
    z-index:-1;
    opacity:0.78;
    width:100%;
    
}

.header-container h3{
    z-index:1;
    font-family:"Times New Roman";
    color:#ffffff;
    margin-top:20%;
    text-align:center;
}

/*ABOUT PAGE*/
body .about{
    background-image: url('https://images.unsplash.com/reserve/D4zfsMrIT3i4Fuxqs5Gm_13129149325_7560b79cf2_o.jpg?q=80&fm=jpg&s=34a3377d80924c8d62104af2ea802e33');
    background-position:relative;
    background-size:cover;
    min-height:100%;
    background-attachment:fixed;
}

.about-header-text{
    color: #ffffff;
    text-align:center;
    font-family: 'Pacifico', cursive;
    size:large;
}

.about-body-text{
    color: #ffffff;
    text-align: justify;
    margin: 0 auto;
    width: 25em;
}

/*BLOG PAGE*/

body .blog{
    background-color: #ffffff;
    background-attachment:fixed;
    background-position:relative;
}